body{
    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    min-height:100vh;
    margin: 0;
}
.change-button {
    background-color: #000;
    color: #fff;
    padding: 20px 50px;
    border: 0;

}